@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

body {
    background-color: black;
}
.column {
    float: left;
    width: 30%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.card {
    padding: 10px !important;
    border: 2px !important;
    border-width: 2px !important;
    background-color: #ffffff !important;
    border-color: #000000 !important;
    border-radius: 10px !important;
}


.card-img {
    margin: 0.1%;
    width: 39rem;
    height: 250px;
}

.card-title {
    color: black;
}

.card-text {
    color: black;
    font-family: 'Arimo', sans-serif;
}
.btn btn-primary {
    color:#223C60;    
}

body {
    margin-left: 10%;
    margin-right: 10%;
    color: #ffffff; 
    font-family: 'Arimo', sans-serif;
}
