@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

body {
    margin: 0;
    overflow-x: hidden;
    background-color: rgb(236, 239, 241);
    font-family: 'Arimo', sans-serif;
}

label {
    font-family: 'Arimo', sans-serif;
}

nav {
    background-color: #fff;
    color: #000;
    padding-top: 20px;
    text-align: left;
    padding-bottom: 20px;
    box-shadow: 0 2 4 4 #000;
}

nav a, nav .text-primary {
    line-height: 40px;
    padding-left: 1.5%;
    font-family: 'Raleway', cursive;
    vertical-align: middle;
}

}
.col {
    float: left;
    width: 30%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.card {
    margin: 10px;
    padding: 10px;
    border: 2px;
    border-color: #000000;
    border-radius: 10px;
}

.card-img {
    margin: 0.1%;
    width: 23.5rem;
    height: 250px;
}

.card-title {
    color: black;
}

.card-text {
    color: black;
    font-family: 'Arimo', sans-serif;
}
.btn btn-primary {
    color:#223C60;    
}

a {
    text-decoration: none;
    color: #000000;
}
body {
    margin-left: 10%;
    margin-right: 10%;
    color: #ffffff; 
    font-family: 'Arimo', sans-serif;
}
