@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

body {
    background-color: rgb(255, 255, 255);
}
.col {
    float: left;
    width: 30%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.card {
    margin: 10px;
    padding: 10px;
    border: 2px;
    border-color: #000000;
    border-radius: 10px;
}

.card-img {
    margin: 0.1%;
    width: 23.5rem;
    height: 250px;
}

.card-title {
    color: black;
}

.card-text {
    color: black;
    font-family: 'Arimo', sans-serif;
}
.btn btn-primary {
    color:#223C60;    
}

a {
    text-decoration: none;
    color: #000000;
}
body {
    margin-left: 10%;
    margin-right: 10%;
    color: #ffffff; 
    font-family: 'Arimo', sans-serif;
}
