@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

ul {
    list-style: disc;
}

.outer {
    display: table;
}

.inner {
    display: table-cell;
}

.activity, .pageheader {
    display: block;
}

.pagetitle {
    margin-bottom: 1.8rem;
    font-weight: 500;
    font-family: 'Arimo', sans-serif;
}

.activityblock img.activityicon {
    margin-right: 1.25rem;
    display: inline-flex;
    vertical-align: middle;
}

.iconlarge {
    width: 50px;
    height: 50px;
    border: #000000;
    border-radius: 10px;
    background-color: rgba(46, 48, 58, 0.8);
}

span.title {
    margin-top: 1rem;
    font-weight: 500;
    font-family: 'Arimo', sans-serif;
    font-size: 1.5rem;
    color: #000000;
    display: inline-flex;
    align-items: center;
    width: auto;
    max-width: calc(100% - 70px);
    align-self: center;
}

p {
    font-family: 'Arimo', sans-serif;
    color: #000000;
    font-size: 1rem;
}

li.activity {
    margin: 0 2px 0;
    padding-bottom: 1.25rem;
    padding-top: 1.25rem;
    border-bottom: 1px solid #e8e8e8;
    text-align: left;
    clear: both;
}
