/**
Colors: 
Misty Blue: #C3CEDA
Blue Gray: #738FA7
Navy Blue: #223C60
Champagne: #F2D6C0
Peach: #E5B990
Desert Sun: #D79B70
**/

@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
/** font-family: 'Metrophobic', sans-serif; **/

body {
    margin: 0;
    overflow-x: hidden;
    background-color: rgb(236, 239, 241);
    font-family: Arimo, sans-serif;
}

nav {
    background-color: #4182bb;
    color: #fff;
    padding-top: 20px;
    text-align: left;
    padding-bottom: 20px;
    box-shadow: 0 2 4 4 #000;
}

nav h1 {
    line-height: 40px;
    padding-left: 1.5%;
    font-family: 'Raleway', cursive;
    vertical-align: middle;
}

/*
.logo {
    width: 70px;    
    float: left;
}
*/

main {
    background-image: linear-gradient(rgba(0, 0, 0, 0.85),rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.85)), url(https://raw.githubusercontent.com/Denzeloid/hosting/main/pshs.png);
    background-size: cover;
    background-size: cover;
    background-position: center center;
    position: relative;
    height: 91vh;
}

.log-in {
    border: rgb(139, 139, 139) solid 1.5px;
    border-radius: 12px;
    border-color: rgb(139, 139, 139);
    background-color: rgb(248, 248, 248);
    padding-top: 5px;
    padding-bottom: 5px;
}

.orange {
    margin-top: 13%;
}

.main-msg {
    margin-top: 0.7%;
}

.main-msg-text {
    font-size: 60px;
}

.main-desc {
    margin-top: 2.5%;
}

.log-in-desc {
    font-size: 12px;
    color: rgb(139, 139, 139);
}

.raleway {
    font-family: 'Raleway', cursive;
}

.blue-text {
    color: #2a4d7e;
}

.white-text {
    color:#fff;
}

.orange-text {
    color: #fff;
    padding: 0.7%;
    border-radius: 10px;
    background-color: rgba(115, 246, 213, 0.7);
    font-size: 15px;
    display: inline-block;
    margin-bottom: 20px;
    font-weight: 500;
    text-align: left;
}

.heading-2 {
    font-size: 100px;
    font-family: 'Raleway', cursive;
    font-weight: 200;
}