/**
Colors: 
Misty Blue: #C3CEDA
Blue Gray: #738FA7
Navy Blue: #223C60
Champagne: #F2D6C0
Peach: #E5B990
Desert Sun: #D79B70
**/

@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
/** font-family: 'Metrophobic', sans-serif; **/

body {
    margin: 0;
    overflow-x: hidden;
    background-color: rgb(236, 239, 241);
    font-family: Arimo, sans-serif;
}

nav {
    background-color: #223C60;
    color: #fff;
    padding-top: 20px;
    text-align: left;
    padding-bottom: 20px;
    box-shadow: 0 2 4 4 #000;
}

nav h1 {
    line-height: 40px;
    padding-left: 1.5%;
    font-family: 'Raleway', cursive;
    text-shadow: 2px 2px 1.5px #000;
    vertical-align: middle;
}

/*

.logo {
    width: 70px;    
    float: left;
}
*/

main {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.85)), url(https://raw.githubusercontent.com/Denzeloid/CS-GROUP-1-KHUB-REDESIGN/main/photos/pshs.png?token=GHSAT0AAAAAAB5GIXANVH2TMOPHBDKOZAWOY6FLSCA);
    background-size: cover;
    background-size: cover;
    background-position: center center;
    position: relative;
    height: 90vh;
}

.orange {
    margin-top: 13%;
}

.main-msg {
    margin-top: 0.7%;
}

.main-msg-text {
    font-size: 60px;
}

.main-desc {
    margin-top: 2.5%;
}

.raleway {
    font-family: 'Raleway', cursive;
}

.white-text {
    color:#fff;
}

.orange-text {
    color: #fff;
    padding: 0.7%;
    border-radius: 20px;
    background-color: rgba(241, 193, 148, 0.7);
    font-size: 15px;
    display: inline-block;
    margin-bottom: 20px;
    font-weight: 500;
}

.heading-2 {
    font-size: 100px;
    font-family: 'Raleway', cursive;
    font-weight: 200;
}